rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} { allow read, write: if false; }
    
    function isSignedIn() { return request.auth != null; }

    match /users/{userId} {
      allow read: if isSignedIn();
      allow write: if isSignedIn() && request.auth.uid == userId;
    }

    match /events/{eventId} {
      allow read, write: if isSignedIn();
    }

    match /checkins/{checkinId} {
      allow read, write: if isSignedIn();
    }

    match /posts/{postId} {
      allow read, write: if isSignedIn();
    }

    match /hypes/{hypeId} {
      allow read, write: if isSignedIn();
    }

    match /interactions/{interactionId} {
      allow read, write: if isSignedIn();
    }
  }
}
